.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  font-size: 40px;
  padding: 20px;
  color: white;
}

.App-link {
  color: #61dafb;
}
